[Unit]
Description=Healthcheck for thecleancoder.dev
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=wingkeet
Group=wingkeet
WorkingDirectory=/home/wingkeet/healthcheck
ExecStart=/home/wingkeet/healthcheck/healthcheck.sh
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
